<%- include('partials/header') -%>

<section class="main_section">
    <div class="container">
      <h2 class="event_list">List of Articles</h2>
      <div class="flex">
        <%- include('partials/sideBar') -%>
        
        <section class="events_section flex-70">
          <div>
            <% articles.forEach(article => { %>
            <div class="event_single">
              <h2 class="title"><%= article.title %></h2>
              <h3 class="summary about_p"><%= article.description %></h3>
              <h3 class="title"><%= article.tags %></h3>
              <a href="/articles/<%= article.id  %> ">
                <button class="btn view_event_btn">View Articles</button>
              </a>
            </div>
            <% }) %>
          </div>
        </section>
      </div>
    </div>
  </section>

<%- include('partials/footer') -%>